<fieldset class="slds-form-element">
    <legend class="slds-form-element__legend slds-form-element__label">Delivery Method</legend>
    <div class="slds-form-element__control">
        <div class="slds-radio--button-group">
            <label class="slds-button slds-radio--button" attr.for="email">
                <input id="email" name="deliveryMethod" type="radio" value="Email"
                       [checked]="order.deliveryMethod === 'Email'" (click)="onDeliveryMethodChange($event)" />
                <span class="slds-radio--faux">Email</span>
            </label>
            <label class="slds-button slds-radio--button" attr.for="ship">
                <input id="ship" name="deliveryMethod" type="radio" value="Ship"
                       [checked]="order.deliveryMethod === 'Ship'" (click)="onDeliveryMethodChange($event)" />
                <span class="slds-radio--faux">Ship</span>
            </label>
            <label class="slds-button slds-radio--button" attr.for="willCall">
                <input id="willCall" name="deliveryMethod" type="radio" value="Will Call"
                       [checked]="order.deliveryMethod === 'Will Call'" (click)="onDeliveryMethodChange($event)" />
                <span class="slds-radio--faux">Will Call</span>
            </label>
            <label class="slds-button slds-radio--button" attr.for="walkUp">
                <input id="walkUp" name="deliveryMethod" type="radio" value="Walk-up"
                       [checked]="order.deliveryMethod === 'Walk-up'" (click)="onDeliveryMethodChange($event)" />
                <span class="slds-radio--faux">Walk-up</span>
            </label>
        </div>
    </div>
</fieldset>
